$textColour: #666666;

$BC_colour1: #1353b6;
$BC_colour2: #ffffff;

$ON_colour1: #b83638;
$ON_colour2: #ffffff;

$NF_colour1: #113a62;
$NF_colour2: #ffffff;

$FR_colour1: #003290;
$FR_colour2: #ffffff;

a,
abbr,
acronym,
address,
applet,
b,
big,
blockquote,
body,
button,
caption,
center,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
nav,
object,
ol,
p,
pre,
q,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
title,
tr,
tt,
u,
ul,
var {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  background: url(Asstes/Background.svg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #fafafa;
  width: 100%;
  min-height: 100vh;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  body {
    min-height: 60vh;
    width: 90%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.5)
    );
    border-radius: 2rem;
    backdrop-filter: blur(2rem);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    padding: 25px;
    margin: 50px 0px;

    .topBox {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .sectionTitle {
        h2 {
          text-align: center;
          color: #5f679c;
          font-size: 14px;
          padding-bottom: 8px;
          font-weight: 300;
          margin: 0px;
          padding: 0px;
        }
      }

      .countdown {
        min-height: 48px;
        min-width: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #d6f2ff;
        border-radius: 8px;
        p {
          width: 200px;
          font-weight: 700;
          font-size: 22px;
          text-align: center;
          padding: 4px;
          border-radius: 8px;
          color: #414584;
        }
      }

      .date {
        p {
          text-align: center;
          color: #5f679c;
          font-size: 12px;
          padding-bottom: 8px;
          font-weight: 700;
        }
      }
    }

    .timeZones {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      margin: 25px 0px;

      .timeBox {
        min-width: 200px;
        border: 3px solid #d6f2ff;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px;
        margin-top: 50px;
        padding: 0px 10px;
        background-color: rgba(255, 255, 255, 0.25);

        .title {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          img {
            width: 55px;
            height: 30px;
            border-radius: 4px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
            transform: translate(0px, -20px) scale(2);
          }

          h2 {
            font-weight: 700;
            font-size: 18px;
            padding-top: -10px;
            margin-bottom: 4px;
          }
        }

        .zoneTime {
          width: 200px;
          font-weight: 700;
          font-size: 22px;
          background-color: rgba(255, 255, 255, 0.75);
          text-align: center;
          padding: 4px;
          border-radius: 8px;
          color: #fff;
        }

        .zoneDate {
          width: 100%;
          text-align: center;
          font-size: 12px;
          padding-bottom: 8px;
          font-weight: 500;
        }
      }
    }

    .bottomBox {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;

      .sectionTitle {
        h2 {
          text-align: center;
          color: $textColour;
          font-size: 15px;
          padding-bottom: 8px;
          font-weight: 500;
        }
      }

      p {
        text-align: center;
      }

      .appDrawer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        background-color: rgba(255, 255, 255, 0.6);
        width: 95%;
        max-width: 500px;
        padding: 10px 20px;
        border-radius: 16px;

        .app {
          a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-width: 60px;
            padding: 8px;
            border-radius: 10px;
            transition: ease-in-out 0.2s;

            &:hover {
              transform: scale(1.1);
              background-color: rgba(255, 255, 255, 0.6);
              box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
            }

            img {
              width: 50px;
              height: 50px;
              border-radius: 10px;
            }
            p {
              font-size: 8px;
              text-align: center;
              color: $textColour;
              margin-top: 4px;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}

#BC {
  border: 3px solid $BC_colour2;
  color: $BC_colour1;

  .zoneTime {
    background-color: $BC_colour1;
  }
}

#ON {
  border: 3px solid $ON_colour2;
  color: $ON_colour1;

  .zoneTime {
    background-color: $ON_colour1;
  }
}

#NF {
  border: 3px solid $NF_colour2;
  color: $NF_colour1;

  .zoneTime {
    background-color: $NF_colour1;
  }
}

#FR {
  border: 3px solid $FR_colour2;
  color: $FR_colour1;

  .zoneTime {
    background-color: $FR_colour1;
  }
}
